.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  background: #cfdfef;
}
.calculator {
  width: 220px;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.display {
  background: #222;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.input {
  font-size: 24px;
}

.result {
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  background: #f4f4f4;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

.equal {
  grid-column: span 4;
  background: #2196F3;
  color: white;
}

.equal:hover {
  background: #0b79d0;
}
.nav-item {
  cursor: pointer;
     margin: 0px 9px;
}

/* --------------------------  */


/* .App {
  text-align: center;
  margin-top: 50px;
} */

.translator-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.textareaCls {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  margin-bottom: 20px;
  margin: 10px 5px;
  padding: 10px;
  font-size: 16px;
}

.buttonCls {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.buttonCls:hover {
  background-color: #45a049;
}

.selectCls {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}
.wrapperCSS{
  width: 90%;
  margin: auto;
  background: #0b79d00d;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.translateBtn{
  padding: 8px 20px;
  border: none;
  background: #0b79d0;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
}
.translateBtn:hover{
  background-color: #0569b6;
}
.controls {
  justify-content: space-between;
  padding: 0px;
  border: 1px solid #cfcfcf;
  padding: 2px 10px;
  border-radius: 4px;
  background: #ffffff;
  margin: 10px 5px;
}

.buttonCopyCls{
  display: flex;
  align-items: center;
  display: contents;
}
#from{
  padding: 10px;
}
#to{
  padding: 10px;
}
i{
  cursor: pointer;
}
li{
  list-style-type: none;
}
.selectLanguageCls{
  border: none;
}
.bg-light{
  background-color: #dfe6e9 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px;
}
.custom-bg{
    background-color: #cfdfef !important;
    padding-top: 30px;
}

.textanimate {
  color: #670eec; 
  background-image: linear-gradient(45deg, #670eec 53%, #62dc04 19%, #80b602 23%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
 }